<form action='/bookmarks' method='get'>
  <input type='submit' name= 'gotobookmarks' value='See My Bookmarks'>
</form>

<form action='/bookmarks/new' method='get'>
  <input type='submit' name= 'addbookmarks' value='Creat New Bookmarks'>
</form>

<form action='/find' method='get'>
  Bookmark name: <input type='text' name= 'bookmark_name'>
  <input type='submit' value='search'>
</form>
